BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sw_dn" SITE "77" ;
LOCATE COMP "sw_in" SITE "78" ;
LOCATE COMP "sw_rst" SITE "75" ;
LOCATE COMP "sw_up" SITE "79" ;
LOCATE COMP "sw_vref" SITE "63" ;
LOCATE COMP "sw_vref_n" SITE "21" ;
LOCATE COMP "comp_ext" SITE "67" ;
IOBUF PORT "comp_ext" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "con_start" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "si_dat" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "deb_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "deb_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "deb_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "so_dat" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_dn" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sw_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_up" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_vref" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_vref_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vref_su" IO_TYPE=LVCMOS33 ;
LOCATE COMP "mclk" SITE "40" ;
LOCATE COMP "deb_0" SITE "99" ;
LOCATE COMP "deb_1" SITE "2" ;
LOCATE COMP "deb_2" SITE "3" ;
LOCATE COMP "vref_su" SITE "5" ;
LOCATE COMP "so_dat" SITE "25" ;
LOCATE COMP "con_start" SITE "31" ;
LOCATE COMP "si_dat" SITE "32" ;
LOCATE COMP "par_out[0]" SITE "43" ;
LOCATE COMP "par_out[1]" SITE "53" ;
LOCATE COMP "par_out[2]" SITE "39" ;
LOCATE COMP "par_out[3]" SITE "37" ;
LOCATE COMP "par_out[4]" SITE "38" ;
LOCATE COMP "par_out[5]" SITE "54" ;
LOCATE COMP "par_out[6]" SITE "51" ;
LOCATE COMP "par_out[7]" SITE "46" ;
LOCATE COMP "par_out[8]" SITE "49" ;
LOCATE COMP "par_out[9]" SITE "45" ;
LOCATE COMP "par_out[10]" SITE "48" ;
LOCATE COMP "par_out[11]" SITE "61" ;
IOBUF PORT "par_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[11]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "par_out[12]" SITE "57" ;
LOCATE COMP "par_out[13]" SITE "58" ;
IOBUF PORT "par_out[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "par_out[13]" IO_TYPE=LVCMOS33 ;
